body {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  @media screen and(min-width: 320px) {
    width: 320px;
  }
  @media screen and(min-width: 768px) {
    width: 768px;
  }
  @media screen and(min-width: 1200px) {
    width: 1200px;
  }
}

.visually-hidden {
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
  position: absolute;
}
body {
  display: flex;
}
.list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}
// .slider {
//   padding-top: 80px;
//   padding-left: 20px;
//   padding-right: 20px;
//   width: 87.5%;
//   max-width: 962px;
//   position: relative;
//   /* height: 400px; */
//   transition: all 0.3s;
// }
// .slider__wrapper {
//   display: flex;
//   width: 100%;
//   height: 55rem;
//   transition: all 0.25s ease-in;
//   // overflow-x: auto;
//   // scroll-snap-type: x mandatory;
//   // -webkit-overflow-scrolling: touch;
//   // scroll-behavior: smooth;
//   transform: translateX(0);

//   @media only screen and (max-width: 1000px) {
//     height: 100vh;
//   }
// }
// .box {
//   height: 100%;
//   width: 100%;
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   align-items: center;
//   overflow: hidden;
//   position: relative;

//   @media only screen and (max-width: 650px) {
//     grid-template-columns: 1fr;
//     grid-template-rows: repeat(2, 1fr);
//   }
// }
.slider__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  // &.swiper-slide-active {
  //   .slider__img {
  //     img {
  //       opacity: 1;
  //       transition-delay: 0.3s;
  //     }
  //   }
  //   .blog-slider__content {
  //     > * {
  //       opacity: 1;
  //       transform: none;

  //       @for $i from 0 to 15 {
  //         &:nth-child(#{$i + 1}) {
  //           transition-delay: $i * 0.1 + 0.3s;
  //         }
  //       }
  //     }
  //   }
  // }
}

.slider__img {
  margin-bottom: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;

  flex-shrink: 0;
  height: 85px;
  background-image: linear-gradient(147deg, #fff5f6 0%, #ffb8ca 74%);
  box-shadow: 0px 1px 30px 1px #e17992;
  border-radius: 50%;
  // transform: translateX(-80px);
  overflow: hidden;
  // &:after {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-image: linear-gradient(147deg, #fff5f6 0%, #ffb8ca 74%);
  //   border-radius: 20px;
  //   opacity: 0.8;
  // }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    // opacity: 0;
    border-radius: 20px;
    transition: all 0.3s;
  }
}
// .content {
//   z-index: 100;
//   grid-column: 1 / span 1;
//   grid-row: 1 / -1;

//   @media only screen and (max-width: 650px) {
//     grid-row: 2 / span 1;
//     grid-column: 1 / -1;
//     text-align: center;
//     padding: 2rem;
//     transform: translateY(-9rem);
//   }
// // width: 60%;
// // padding-right: 25px;
// @media screen and (max-width: 992px) {
//   // width: 55%;
// }
// @media screen and (max-width: 768px) {
//   // margin-top: -80px;
//   text-align: center;
//   padding: 0 30px;
// }

// @media screen and (max-width: 576px) {
//   padding: 0;
// }
// > * {
//   // opacity: 0;
//   transform: translateY(25px);
//   transition: all 0.4s;
// }
// }
.review__section {
  position: relative;
  background-color: #fafafa;
  padding: 43px 66px 26px 57px;
  margin-bottom: 30px;
}

.review__section__text {
  margin-top: 0.8em;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.59;
  text-align: center;
  color: #000;
  background-image: url(../images/quotes-min.png);
  background-repeat: no-repeat;
}
.wrap {
  background: repeating-linear-gradient(
    to bottom,
    #fafafa,
    #fafafa 30px,
    #e1e1e1 31px,
    #e1e1e1 25px
  );
}
.review__dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
}
.review__title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 186%;
  text-align: center;
  color: #000;
  margin-bottom: 30px;
  display: block;
}
.review__title::before {
  background-image: url(../images/review-dots.png);
  content: "";
  display: block;
  width: 32px;
  height: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
  margin-top: 30px;
}
// .swiper-container-horizontal > .swiper-pagination-bullets,
// .swiper-pagination-custom,
// .swiper-pagination-fraction {
//   bottom: 10px;
//   left: 0;
//   width: 100%;
// }
// .slider-pagination {
//   position: absolute;
//   z-index: 21;
//   right: 20px;
//   width: 11px !important;
//   text-align: center;
//   left: auto !important;
//   top: 50%;
//   bottom: auto !important;
//   transform: translateY(-50%);
//   @media screen and (max-width: 768px) {
//     transform: translateX(-50%);
//     left: 50% !important;
//     top: 205px;
//     width: 100% !important;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
//   &.swiper-pagination-bullets .swiper-pagination-bullet {
//     margin: 8px 0;
//     @media screen and (max-width: 768px) {
//       margin: 0 5px;
//     }
//   }
// }

// .swiper-pagination-bullet {
//   width: 11px;
//   height: 11px;
//   display: block;
//   border-radius: 10px;
//   background: #062744;
//   opacity: 0.2;
//   transition: all 0.3s;
//   &-active {
//     opacity: 1;
//     background: #fd3838;
//     height: 30px;
//     box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);

//     @media screen and (max-width: 768px) {
//       height: 11px;
//       width: 30px;
//     }
//   }
// }
// div {
//   height: 25rem;
//   width: 18rem;
//   border-radius: 3rem;
//   // background-color: $b1cl;
//   position: relative;
//   // transform: skewX(-10deg);

//   @media only screen and (max-width: 800px) {
//     height: 20rem;
//     width: 15rem;
//   }

//   &::after,
//   &::before {
//     content: "";
//     position: absolute;
//     height: 100%;
//     width: 100%;
//     border-radius: 3rem;
//     top: 0;
//     left: 0;
//   }

//   &::after {
//     transform: translate(4rem, -1rem);
//   }
//   &::before {
//     transform: translate(2rem, -2rem);
//   }
// }

// .prev,
// .next,
// .trail {
//   z-index: 10000;
//   position: absolute;
// }

// .prev,
// .next {
//   width: 4rem;
//   cursor: pointer;
//   opacity: 0.2;
//   transition: all 0.3s ease;

//   @media only screen and (max-width: 650px) {
//     display: none;
//   }

//   &:hover {
//     opacity: 1;
//   }
// }
// .prev {
//   top: 50%;
//   left: 1%;
//   transform: translateY(-50%);
// }

// .next {
//   top: 50%;
//   right: 2%;
//   transform: translateY(-50%);
// }

// .trail {
//   bottom: 5%;
//   left: 50%;
//   transform: translateX(-50%);
//   width: 60%;
//   display: grid;
//   grid-template-columns: repeat(5, 1fr);
//   gap: 1rem;
//   text-align: center;
//   font-size: 1.5rem;

//   @media only screen and (max-width: 650px) {
//     width: 90%;
//     bottom: 13%;
//   }

//   div {
//     padding: 2rem;
//     border-top: 3px solid #fff;
//     cursor: pointer;
//     opacity: 0.3;
//     transition: all 0.3s ease;

//     &:hover {
//       opacity: 0.6;
//     }

//     @media only screen and (max-width: 650px) {
//       padding: 1rem;
//     }
//   }
// }

// .active {
//   opacity: 1 !important;
// }
/* .review__slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.slider-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.slider-list__item {
  color: #d9d9d9;
  margin-right: 18px;
}
.slider-list__item:last-child {
  margin-right: 0;
}
.slider-list__icon {
  fill: #d9d9d9;
}

.slider-list__link:hover .slider-list__icon,
.slider-list__link:focus .slider-list__icon {
  fill: #d41443;
} */
